<footer>
  <div class="container">
    <div class="footer__inner">
      <h3>Contact Me</h3>
      <div class="link__group">
        <a href="mailto:garrettmasters@gmail.com" target="_blank"><partial src="/svg/email.svg"></partial></a>
        <a href="https://www.linkedin.com/in/garrettmasters/" target="_blank"><partial src="/svg/linkedin.svg"></partial></a>
        <a href="https://github.com/garrettmasters/" target="_blank"><partial src="/svg/github.svg"></partial></a>
      </div>
    </div>
  </div>
</footer>
