<header class="hero">
    <div class="hero__inner hero__inner--detail">
        <div class="hero__left">
            <h1 class="highlight">UNDP: SDG's Today</h1>
            <p>A compelling <b>mobile-first website</b> that conveys the state of United Nations Development Programme (UNDP’s) Sustainable Development Goals (SDG’s) as it relates to the Covid-19 epidemic.</p>
            <p>A project of Fifty and Fifty creative agency.</p>
            <strong class="highlight">Brief</strong>
            <p>The SDGs Today is a semi-annual web series that focuses on the question, "what is the state of the Sustainable Development Goals (SDGs) today?" This website <b>focuses on SDG’s goal number three on Good Health and Well-being.</b></p>
        </div>
        <div class="hero__right">
            <img src="./assets/img/mobile-undp.jpg" />
        </div>
  </div>
</header>
