<header class="hero">
    <div class="hero__inner hero__inner--detail">
        <div class="hero__left">
            <h1 class="highlight">About</h1>
            <p>I have always been fascinated by how things work. Growing up I would disassemble appliances  and various electronics just to see how they worked. When something would break I would always take it apart and figure out what broke and how I could fix it. </p>
            <p>My inquisitive nature inevitably landed me in the tech world. After learning that I could create a website or app by just writing some code...I was hooked.</p>
            <p>With most topics I am curious about, I dig in and dive deep, researching and absorbing as much information as I can find. Web development was no different. I continued to build experiences, expand my knowledge and through the journey became fascinated with Frontend development.</p>
            <p>I am grateful for the opportunities that I’ve had to be a part of some great teams, work on incredible websites, and partner with amazing organizations. I love what I do and thoroughly enjoy making beautiful websites and apps that are user friendly and are accessible to all. </p>
        </div>
        <div class="hero__right">
            <img src="./assets/img/garrett.jpg" />
        </div>
  </div>
</header>
