<header class="hero">
    <div class="hero__inner hero__inner--detail">
        <div class="hero__left">
            <h1 class="highlight">UNDP: Covid Data</h1>
            <p>An <b>engaging responsive website</b> that displays the UN’s framework for immediate socio-economic response to support countries and societies in the face of COVID-19.</p>
            <p>A project of Fifty and Fifty creative agency</p>
            <strong class="highlight">Brief</strong>
            <p>UNDP has been collecting data related to Covid-19 from various countries and governments around the world. There needs to be a system to make that data easily accessible and consumable <b>for various countries and governments</b>.</p>
        </div>
        <div class="hero__right">
            <img src="./assets/img/mobile-undp.jpg" />
        </div>
  </div>
</header>
