<header class="hero">
    <div class="hero__inner hero__inner--detail">
        <div class="hero__left">
            <h1 class="highlight">Waterkeeper</h1>
            <p>A strong <b>mobile first website</b> that broadcasts the message of protecting water systems worldwide and connects user to local conversation partners</p>
            <p>a project of Fifty and Fifty creative agency</p>
            <strong class="highlight">Brief</strong>
            <p>Connecting Waterkeeper alliance partners who are in the field and connect them to local individuals who are interested in helping. <b>A visual map was needed to display the impact</b> these partners are making as well as connecting local user to these partners.</p>
        </div>
        <div class="hero__right">
            <img src="./assets/img/mobile-waterkeeper.jpg" />
        </div>
  </div>
</header>
