    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="index.html">
            <span class="title is-4">Garrett Masters</span>
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active size-5">
              Home
            </a>
            <a class="navbar-item size-5">
              Work
            </a>
            <a class="navbar-item size-5">
              About
            </a>
          </div>
        </div>
      </div>
    </nav>
