/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
700&display=swap");

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6
{
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-size: 100%;
  font-weight: normal;
}

ul
{
  list-style: none;
}

button,
input,
select,
textarea
{
  margin: 0;
}

html
{
  box-sizing: border-box;
}

*, *::before, *::after
{
  box-sizing: inherit;
}

img,
video
{
  height: auto;
  max-width: 100%;
}

iframe
{
  border: 0;
}

table
{
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th
{
  padding: 0;
}

td:not([align]),
  th:not([align])
{
  text-align: inherit;
}

:root
{
  --background: #ffffff;
  --textcolor: #6e6e6e;
  --headercolor: #061b22;
}

html[data-theme="dark"]
{
  --background: #0d1117;
  --textcolor: #888888;
  --textsecondary: #586069;
  --highlight: #ffffff;
  --lightbackground: #061b22;
  --shadow: rgba(149, 157, 165, 0.2);
  --textcoloractive: #ffffff;
  --headercolor: #061b22;
  --darkbackground: #0d1117;
  --navtext: #8b949e;
  --navtexthover: #c9d1d9;
  --textblue: #0366d6;
  --textyellow: #FFD347;
}

html[data-theme="light"]
{
  --background: #ffffff;
  --textcolor: #6e6e6e;
  --textsecondary: #586069;
  --highlight: #141414;
  --lightbackground: #F3F3F3;
  --shadow: rgba(51, 51, 51, 0.2);
  --textcoloractive: #ffffff;
  --headercolor: #061b22;
  --darkbackground: #0d1117;
  --navtext: #8b949e;
  --navtexthover: #c9d1d9;
  --textblue: #0366d6;
  --textyellow: #FFD347;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
{
  margin: calc(2rem - .14285714em) 0 1rem;
}

h1:first-child, .h1:first-child,
  h2:first-child, .h2:first-child,
  h3:first-child, .h3:first-child,
  h4:first-child, .h4:first-child,
  h5:first-child, .h5:first-child,
  h6:first-child, .h6:first-child
{
  margin-top: -.14285714em;
}

h1, .h1
{
  font-size: calc(30px + 30 * ( (100vw - 420px) / 480));
}

@media screen and (max-width: 420px)
{
  h1, .h1
  {
    font-size: 30px;
  }
}

@media screen and (min-width: 900px)
{
  h1, .h1
  {
    font-size: 60px;
  }
}

h2, .h2
{
  font-size: calc(22px + 10 * ( (100vw - 420px) / 480));
}

@media screen and (max-width: 420px)
{
  h2, .h2
  {
    font-size: 22px;
  }
}

@media screen and (min-width: 900px)
{
  h2, .h2
  {
    font-size: 32px;
  }
}

h3, .h3
{
  font-size: calc(18px + 7 * ( (100vw - 420px) / 480));
}

@media screen and (max-width: 420px)
{
  h3, .h3
  {
    font-size: 18px;
  }
}

@media screen and (min-width: 900px)
{
  h3, .h3
  {
    font-size: 25px;
  }
}

p, .p
{
  font-size: calc(16px + 4 * ( (100vw - 420px) / 480));
  line-height: 1.5em;
  margin-bottom: 1em;
}

@media screen and (max-width: 420px)
{
  p, .p
  {
    font-size: 16px;
  }
}

@media screen and (min-width: 900px)
{
  p, .p
  {
    font-size: 20px;
  }
}

ul, ol
{
  font-size: calc(16px + 4 * ( (100vw - 420px) / 480));
  line-height: 1.5em;
  margin-bottom: 1em;
}

@media screen and (max-width: 420px)
{
  ul, ol
  {
    font-size: 16px;
  }
}

@media screen and (min-width: 900px)
{
  ul, ol
  {
    font-size: 20px;
  }
}

@font-face
{
  font-family: 'Circular Std Book';
  src: url(../fonts/CircularStd-Book.eot);
  /* IE9 Compat Modes */
  src: url(../fonts/CircularStd-Book.woff2) format("woff2"), url(../fonts/CircularStd-Book.woff) format("woff"), url(../fonts/CircularStd-Book.ttf) format("truetype"), url(../fonts/CircularStd-Book.svg) format("svg");
  /* Legacy iOS */;
}

@font-face
{
  font-family: 'Circular Std Bold';
  src: url(../fonts/CircularStd-Bold.eot);
  /* IE9 Compat Modes */
  src: url(../fonts/CircularStd-Bold.woff2) format("woff2"), url(../fonts/CircularStd-Bold.woff) format("woff"), url(../fonts/CircularStd-Bold.ttf) format("truetype"), url(../fonts/CircularStd-Bold.svg) format("svg");
  /* Legacy iOS */;
}

body
{
  font-family: 'Circular Std Book', sans-serif;
}

html
{
  background-color: var(--background);
  color: var(--textcolor);
}

body
{
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation
{
  0%
  {
    opacity: 0;
  }

  100%
  {
    opacity: 1;
  }
}

/* Page Loader */
.js .loading::before
{
  content: '';
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  background: var(--background);
}

.js .loading::after
{
  content: '';
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: -25px 0 0 -25px;
  pointer-events: none;
  background: var(--textyellow);
  animation: loaderAnim 0.8s ease-out infinite alternate forwards;
}

@keyframes loaderAnim
{
  to
  {
    transform: translate3d(0, -100px, 0);
  }
}

.highlight
{
  color: var(--highlight);
}

.container
{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2em;
}

@media (min-width: 600px)
{
  .container
  {
    padding: 0 3em;
  }
}

@media (min-width: 900px)
{
  .container
  {
    padding: 0 5em;
  }
}

.container.container--small
{
  max-width: 700px;
}

.alignfull
{
  width: 100vw;
  margin: 5em calc(50% - 50vw);
}

.alignwide
{
  width: 100vw;
  position: relative;
  margin: 5em calc(50% - 50vw);
  left: 0;
}

@media (min-width: 900px)
{
  .alignwide
  {
    width: calc(100% + 20vw);
    left: -10vw;
    margin: 5em 0;
  }
}

.image
{
  width: 100%;
  height: auto;
  margin-top: 5em;
  margin-bottom: 5em;
}

footer
{
  margin-top: 5em;
  padding: 4em 2em;
  background-color: var(--lightbackground);
}

footer .footer__inner
{
  text-align: center;
}

footer h3
{
  color: var(--textsecondary);
}

footer .link__group
{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .link__group a
{
  padding: 1em;
  max-width: 3.5em;
}

footer .link__group a svg
{
  width: 100%;
  height: auto;
  transition: all 300ms ease;
  opacity: 1;
}

footer .link__group a:hover svg
{
  opacity: 75%;
  transition: all 300ms ease;
}

img
{
  max-width: 100%;
}

figcaption
{
  max-width: 100%;
  text-align: center;
  padding-bottom: 0.25em;
}

ul
{
  list-style: none;
  padding-left: 1em;
  margin: 3em 0;
}

ul li
{
  margin-bottom: 1.5em;
  position: relative;
  padding: 5px 0;
}

ul li:after
{
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: -1em;
  background-color: #ffde43;
  width: 4px;
  border-radius: 10px;
}

article .heading-intro
{
  margin-top: 5em;
}

article img
{
  box-shadow: var(--shadow) 0px 8px 24px;
}

.main-nav
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 2.5em;
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: var(--headercolor);
  z-index: 99;
}

.main-nav a
{
  color: var(--navtext);
  transition: all 300ms ease;
}

.main-nav a:hover
{
  color: var(--navtexthover);
  transition: all 300ms ease;
}

.main-nav a.logo
{
  margin-right: auto;
  font-size: calc(18px + 4 * ( (100vw - 420px) / 480));
  text-decoration: none;
}

@media screen and (max-width: 420px)
{
  .main-nav a.logo
  {
    font-size: 18px;
  }
}

@media screen and (min-width: 900px)
{
  .main-nav a.logo
  {
    font-size: 22px;
  }
}

.main-nav a:not(.logo)
{
  font-size: calc(15px + 5 * ( (100vw - 420px) / 480));
  padding: 15px 10px;
  text-decoration: none;
}

@media screen and (max-width: 420px)
{
  .main-nav a:not(.logo)
  {
    font-size: 15px;
  }
}

@media screen and (min-width: 900px)
{
  .main-nav a:not(.logo)
  {
    font-size: 20px;
  }
}

.main-nav a.active
{
  color: var(--textcoloractive);
  transition: all 300ms ease;
}

.site-link
{
  text-align: center;
  margin: 4em auto -3em;
  font-size: calc(18px + 4 * ( (100vw - 420px) / 480));
  letter-spacing: 5px;
}

@media screen and (max-width: 420px)
{
  .site-link
  {
    font-size: 18px;
  }
}

@media screen and (min-width: 900px)
{
  .site-link
  {
    font-size: 22px;
  }
}

.site-link a
{
  color: var(--highlight);
  transition: all 300ms ease;
  opacity: 1;
}

.site-link a:hover
{
  opacity: 0.75;
  transition: all 300ms ease;
}

.transition-fade
{
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade
{
  opacity: 0;
}

.sr-only
{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hero
{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

@media (min-width: 900px)
{
  .hero
  {
    height: 100vh;
    min-height: 700px;
  }
}

.hero .hero__inner
{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 3em;
  display: flex;
  align-items: center;
}

.hero .hero__inner--detail
{
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

@media (min-width: 900px)
{
  .hero .hero__inner--detail
  {
    padding: 3em;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

.hero .hero__left
{
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.hero .hero__left h1
{
  font-size: calc(18px + 7 * ( (100vw - 420px) / 480));
}

@media screen and (max-width: 420px)
{
  .hero .hero__left h1
  {
    font-size: 18px;
  }
}

@media screen and (min-width: 900px)
{
  .hero .hero__left h1
  {
    font-size: 25px;
  }
}

.hero .hero__left p
{
  font-size: calc(14px + 2 * ( (100vw - 420px) / 480));
  font-style: italic;
}

@media screen and (max-width: 420px)
{
  .hero .hero__left p
  {
    font-size: 14px;
  }
}

@media screen and (min-width: 900px)
{
  .hero .hero__left p
  {
    font-size: 16px;
  }
}

.hero .hero__left strong
{
  font-style: normal;
  margin: 1em 0 0.5em;
  font-size: calc(12px + 2 * ( (100vw - 420px) / 480));
}

@media screen and (max-width: 420px)
{
  .hero .hero__left strong
  {
    font-size: 12px;
  }
}

@media screen and (min-width: 900px)
{
  .hero .hero__left strong
  {
    font-size: 14px;
  }
}

.hero .hero__left svg
{
  max-width: 100%;
}

@media (min-width: 900px)
{
  .hero .hero__left
  {
    flex: 1;
  }
}

.hero .hero__right
{
  flex: 1 1 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero .hero__right img
{
  max-width: 100%;
  box-shadow: var(--shadow) 0px 8px 24px;
}

@media (min-width: 900px)
{
  .hero .hero__right
  {
    flex: 1;
    padding-left: 2em;
  }
}

.section
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10em 0;
}

.section:first-of-type
{
  margin: 0 0 10em;
}

@media (min-width: 900px)
{
  .section
  {
    flex-wrap: nowrap;
  }
}

.section:nth-of-type(even)
{
  flex-direction: row-reverse;
}

.section .section__block
{
  flex-basis: 100%;
}

@media (min-width: 900px)
{
  .section .section__block
  {
    flex-basis: 50%;
  }
}

.section .section__image
{
  display: flex;
}

.section .section__image img
{
  max-width: 100%;
  transition: all 300ms ease;
}

.section .section__image a:hover img
{
  transition: all 300ms ease;
  transform: scale(1.025);
}

.section .section__text
{
  padding: 2em;
}

.section .section__text a
{
  position: relative;
  text-decoration: none;
  color: var(--highlight);
}

.section .section__text a:after
{
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: var(--highlight);
  transition: width .3s ease 0s,left .3s ease 0s;
  width: 0;
}

.section .section__text a:hover:after
{
  width: 100%;
}

.intro
{
  margin-bottom: 5em;
  margin-top: 5em;
}

.intro p
{
  font-size: calc(15px + 3 * ( (100vw - 420px) / 480));
  margin-bottom: 1.25em;
}

@media screen and (max-width: 420px)
{
  .intro p
  {
    font-size: 15px;
  }
}

@media screen and (min-width: 900px)
{
  .intro p
  {
    font-size: 18px;
  }
}

.intro .title-intro
{
  margin-bottom: 0.25em;
  font-size: calc(15px + 3 * ( (100vw - 420px) / 480));
}

@media screen and (max-width: 420px)
{
  .intro .title-intro
  {
    font-size: 15px;
  }
}

@media screen and (min-width: 900px)
{
  .intro .title-intro
  {
    font-size: 18px;
  }
}

.intro span
{
  font-family: "Circular Std Bold", sans-serif;
  padding-right: 2em;
  font-size: calc(14px + 2 * ( (100vw - 420px) / 480));
}

@media screen and (max-width: 420px)
{
  .intro span
  {
    font-size: 14px;
  }
}

@media screen and (min-width: 900px)
{
  .intro span
  {
    font-size: 16px;
  }
}

@media (min-width: 900px)
{
  .intro
  {
    margin-top: 1em;
  }
}

.shadow
{
  box-shadow: var(--shadow) 0px 8px 24px;
}

.toggle-btn
{
  align-self: center;
  margin: 15px 0 15px 20px;
}

.toggle-btn #check
{
  display: none;
}

.box
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50px;
  height: 25px;
  background-color: var(--darkbackground);
  transition: all 1s ease;
  position: relative;
  border-radius: 30px;
  cursor: pointer;
}

.box .ball
{
  width: 25px;
  height: 25px;
  background-color: var(--textcolor);
  transition: all 1s ease;
  position: absolute;
  border-radius: 50%;
  border: 2px solid var(--darkbackground);
}

.box .scenary
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 1s ease;
  padding: 0px 5px 0px 5px;
}

.box .scenary svg
{
  width: 15px;
}

.icon-box-container
{
  display: flex;
  justify-content: center;
}

.icon-box-container .icon-box
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 1em;
}

.icon-box-container .icon-box svg
{
  width: 100%;
  height: auto;
  max-width: 80px;
  fill: var(--highlight);
}

.icon-box-container .icon-box.blue-fill svg
{
  fill: var(--textblue);
}

.icon-box-container .icon-box.yellow-fill svg
{
  fill: var(--textyellow);
}

.block-revealer__element
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--textcoloractive);
  pointer-events: none;
  opacity: 0;
}